.hoverElement {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.2s ease;
}

.hoverTarget:hover > .hoverElement {
  opacity: 1;
  transform: scale(1.03);
}

.imageContainer {
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.2s ease;
}

.thumbnail:hover > .imageContainer {
  opacity: 0.5;
  transform: scale(1.03);
}
