.favButton {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
  font-size: 13px;
  font-weight: 600;
  width: 160px;
  height: 40px;
  white-space: nowrap;
  outline: none;
}

.loadingBackground {
  background-color: rgb(151, 147, 147);
  border-color: rgb(219, 211, 211);
}

.add {
  background-color: rgb(8, 108, 8);
  border-color: rgb(92, 172, 92);
}

.add:hover {
  background-color: #27782a;
  border-color: #7ec682;
}

.add:active {
  background-color: #144216;
  transform: scale(0.9);
}

.remove {
  background-color: rgb(194, 3, 3);
  border-color: lightcoral;
}

.remove:hover {
  background-color: #ce291e;
  border-color: #ef9a9a;
}

.remove:active {
  background-color: darkred;
  transform: scale(0.95);
}

.spinner {
  border: 2px solid transparent;
  border-top: 2px solid #000;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.favButtonWrapper {
  position: relative;
  display: inline-block;
}

.errorPopup,
.errorPopupHidden {
  position: absolute;
  top: -40px;
  left: -10%;
  background-color: rgba(53, 50, 50, 0.8);
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  transition: opacity 0.25s ease, visibility 0.25s ease;
  z-index: 1;
}

.errorPopup {
  opacity: 1;
  visibility: visible;
}

.errorPopupHidden {
  opacity: 0;
  visibility: hidden;
}
