.footerContainer {
  display: grid;
  grid-template-columns: repeat(4, 15vw);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  font-size: 14px;
  margin-bottom: 34px;
}

.footerItem {
  text-decoration: none;
  color: rgb(152, 149, 149);
}

.footerItem:hover {
  text-decoration: underline;
}

.socialButton {
  text-decoration: none;
  color: rgb(152, 149, 149);
  transition: color 0.3s ease, transform 0.1s ease;
}

.socialButton:hover {
  color: white;
}

.socialButton:active {
  transform: scale(0.9);
}

@media (max-width: 1050px) {
  .footerContainer {
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(4, auto);
    font-size: 13.5px;
  }
}

@media (max-width: 750px) {
  .footerContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    font-size: 13px;
  }
}
