.footerContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  padding: 20px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
}

@media (max-width: 750px) {
  .footerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
  }
}

@media (max-width: 590px) {
  .footerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 10px;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
  }
}
