/* custom scrollbar */
html {
  overflow-y: scroll; /* reserves space for the scrollbar to avoid content shifting on non-scrollable pages */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6f6e6e;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ababab;
  border: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}
