.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftContent {
  display: flex;
  align-items: center;
}

.buttonWrapper {
  margin-right: 10px;
}

.rightContent {
  display: flex;
  align-items: center;
}
