.header {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.header.scrolled {
  background-color: rgb(23, 23, 23);
}

.notificationsIcon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: white;
  transition: opacity 0.2s;
}

.notificationsIcon:hover {
  opacity: 0.75;
}

.notificationsIcon:active {
  transform: scale(0.95);
}

.userAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(190, 10, 10);
  color: white;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.userAvatar:hover {
  background-color: darkred;
}

.userAvatar:active {
  transform: scale(0.95);
}

.notificationsIconButton {
  background-color: transparent;
  border: none;
  padding-top: 2px;
}

.menuItemsContainer {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.menuButtonContainer {
  display: none;
}

.netflixLogoImage {
  transition: opacity 0.3s ease;
  opacity: 1;
}

.netflixLogoImage:hover {
  opacity: 0.8;
}

.userMenuItem {
  color: rgb(224, 232, 241);
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-size: 13.5px;
  font-weight: 600;
  display: block;
  width: 90%;
  text-align: right;
  transition: background-color 0.3s ease;
}

.userMenuItem:hover {
  background-color: darkred;
}

.userMenuItem:active {
  transform: scale(0.95);
}

.menuItem,
.menuItemSelected {
  color: rgb(224, 232, 241);
  text-decoration: none;
  font-family: inherit;
  transition: opacity 0.3s ease;
  opacity: 1;
  font-size: 13.5px;
}

.menuItemSelected {
  font-weight: 900;
  cursor: pointer;
}

.menuItem:hover {
  opacity: 0.8;
}

.searchIcon {
  color: white;
  transition: opacity 0.2s;
  height: 20px;
  width: 20px;
  background-color: transparent;
}

.searchIcon:hover {
  opacity: 0.75;
  cursor: pointer;
}

.searchIcon:active {
  transform: scale(0.95);
}

.responsiveMenuIcon {
  color: red;
  height: 24px;
  width: 24px;
  background-color: transparent;
}

.responsiveMenuItemIcon {
  color: white;
  height: 20px;
  width: 20px;
  background-color: transparent;
}

.userIcon {
  color: white;
  height: 20px;
  width: 20px;
  background-color: transparent;
}

.redButton {
  background-color: rgb(190, 10, 10);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: inherit;
}

.redButton:hover {
  background-color: darkred;
}

.redButton:active {
  transform: scale(0.95);
}

.searchInput,
.searchInputOpen {
  visibility: hidden;
  width: 0;
  margin-left: -15px;
  transition: width 1s ease, visibility 1s ease, margin-left 1s ease;
  border: none;
  color: white;
  outline: none;
  font-size: 16px;
  background-color: transparent;
}

.searchInputOpen {
  visibility: visible;
  width: 150px;
  margin-left: 0;
  box-sizing: border-box;
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(79, 77, 77);
  transition: width 1s ease, visibility 1s ease, margin-left 1s ease;
}

.responsiveDropdownMenuHidden {
  display: none !important;
}

.userAvatarHide {
  display: none;
}

@media (max-width: 1250px) {
  .netflixLogoImage {
    display: none;
  }
  .notificationsIconButton {
    display: none;
  }

  .menuItemsContainer {
    display: none;
  }

  .menuButtonContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s ease;
  }

  .menuButtonContainer:hover {
    background-color: rgb(49, 49, 49);
  }

  .menuButtonContainer:active {
    transform: scale(0.95);
  }

  .searchInputOpen {
    visibility: visible;
    width: 70px;
    margin-left: 0;
    transition: width 1s ease, visibility 1s ease, margin-left 1s ease;
  }

  .loginButton {
    display: none;
  }

  .responsiveDropdownMenuHidden {
    display: flex !important;
  }

  .userAvatarHide {
    display: flex;
  }
}
