.searchResult {
  width: 50vw;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.searchResult:hover {
  opacity: 0.8;
}

@media (max-width: 1250px) {
  .searchResult {
    width: 60vw;
  }
}

@media (max-width: 1000px) {
  .searchResult {
    width: 70vw;
  }
}

@media (max-width: 800px) {
  .searchResult {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .searchResult {
    width: 90vw;
  }
}
